
.support-a{
    color:#fff !important;
    font-size: 17px;
    
}

#search{
    width: 25vw;
    height: 50px;
    border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
    border: none;
    padding: 0 15px 0 15px;
   
}
li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.inp-box{
    display: inline-block;
    height:50px;
    background-color: #fff;
    width:50px;
    padding: 13.5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
   
}
.fa-magnifying-glass{
    font-size: 20px;
    color: lightgray;
}